@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* shared styles */

* {
    margin: 0;
    padding: 0;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.body-color {
    background-color: #000000;
    color: #fff;
}

.color-primary {
    color: #E6533C;
}

.btn-primary {
    background-color: #E6533C;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px;
    border: none;
    border-radius: 42px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

.common-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FFFFFF80;
}


/* navber related styles */
.header {
    background-color: #1F1F1F;
    padding-top: 3rem;
}

.navber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}

.navber .nav-title {
    font-size: 2.25rem;
    font-weight: 800;
}

.nab-options {
    display: flex;
    gap: 45px;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 400;
}

.nav-home {
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 46px;
    color: #fff;
}

/* nan menu icons */
.nav-menu-icon {
    display: none;
}


/* banner related styles */

.banner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 32px;
}

.banner-content {
    width: 70%;
    display: flex;
    align-items: center;
}

.banner-title {
    font-size: 4.875rem;
    font-weight: 900;
    margin-bottom: 28px;
}

/* #shape {
    
} */

.banner-img {
    /* width: 30%; */
    width: 349px;
    height: 580px;
    /* position: relative; */
}

.banner-img img {
    /* width: 100%; */
    height: 100%;
}

/* banner img card */
.workout-video {
    background-color: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(4px);
    width: 193px;
    padding: 16px 20px;
    border-radius: 12px;
    position: relative;
    top: -400px;
    left: 150px;
    
}

.workout-video h4 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 5px;
}

.Video-tutorial {
    background-color: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(4px);
    width: 193px;
    padding: 16px 20px;
    border-radius: 12px;
    position: relative;
    top: -250px;
    left: -150px;
}

.Video-tutorial h4 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 5px;
}

.banner-btns {
    display: flex;
    gap: 1rem;
    margin-top: 28px;
}

/* banner download btn */
#download-btn {
    background-color: #000000;
    border: 1px solid #fff;
}